<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,135}</string>
                <key>spriteSourceSize</key>
                <string>{138,135}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,135}</string>
                <key>spriteSourceSize</key>
                <string>{138,135}</string>
                <key>textureRect</key>
                <string>{{1,138},{114,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,121}</string>
                <key>spriteSourceSize</key>
                <string>{138,135}</string>
                <key>textureRect</key>
                <string>{{139,1},{114,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,121}</string>
                <key>spriteSourceSize</key>
                <string>{138,135}</string>
                <key>textureRect</key>
                <string>{{139,124},{114,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{254,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:983620b5c47a41f5b3143b4c396d4247:ba345c1dd20a6419f4f9648d21f3beee:4be35b031ff921caacbd927ebc46fc95$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
